<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 권한들 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Android 13+ 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 선택: 부팅 후 재구독/예약 작업이 있다면 -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->

    <!-- ✅ queries는 한 번만 선언 -->
    <queries>
        <!-- If your app opens https URLs -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- If your app makes calls -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>

        <!-- If your app sends SMS messages -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" />
        </intent>

        <!-- If your app sends emails -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>

        <!-- Flutter 텍스트 처리 플러그인용 -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <application
        android:label="NotiSKKU"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <!-- (선택 권장) FCM 기본 알림 설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- @color/notification_color는 프로젝트에 직접 추가하세요 -->
        <!-- <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color" /> -->

        <!-- (선택) 기본 채널 ID 지정: 런타임에서 동일 ID 채널을 생성해야 함 -->
        <!-- <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="notiskku_default_channel" /> -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:showWhenLocked="false"
            android:turnScreenOn="true">

            <!-- Flutter UI 초기 테마 -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter 임베딩 메타데이터 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
